.slider {
  position: relative;

  .slider__item-wrap {
    height: 100vh;

    .flickity-viewport {
      height: 100% !important;
    }

    //reponsive
    @include lg {
      height: 100vh;
    }

    .slider__item {
      position: relative;
      width: 100%;
      height: 100%;

      //reponsive
      @include lg {
        width: 100%;
        height: 100%;
      }

      &-img {
        min-height: 100%;
        min-width: 100%;
        object-fit: cover;
      }

      &-text {
        top: 50%;
        left: 50%;
        position: absolute;
        font-size: 50px;
        color: var(--black-cl);
        line-height: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translate(-50%, -50%);
        text-transform: uppercase;

        .title {
          color: var(--brown-cl);
          font-size: var(--fs-h1);
          line-height: var(--lh-h1);
          font-family: pb;
          letter-spacing: 10px;
          margin-bottom: 30px;

          //reponsive
          @include xxs {
            font-size: var(--fs-h2);
            margin-bottom: 5px;
          }

          //reponsive
          @include xs {
            font-size: var(--fs-h1);
            margin-bottom: 5px;
          }
        }

        .btnmain {
          box-sizing: border-box;
          font-size: var(--text-btn);
          line-height: var(--lh-btn);
          letter-spacing: 1px;
          color: var(--white-cl);
          font-family: pb;
          /* Auto layout */

          display: flex;
          align-items: center;
          padding: 16px 34px;

          height: 44px;

          /* White */
          border: 1px solid #ffffff;

          img {
            margin-left: 10px;
          }

          &:hover {
            background-color: var(--brown-cl);
            @include transition(0.3s);
          }

          //reponsive
          @include xxs {
            font-size: var(--text-btn);
            line-height: var(--lh-btn);
            margin-bottom: 5px;
            padding: 13px 20px;
            gap: 8px;
          }

          @include xxxs {
            font-size: var(--text-btn);
            line-height: var(--lh-btn);
            margin-bottom: 5px;
            padding: 13px 20px;
            gap: 8px;
          }
        }
      }
    }
  }

  .slider__bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
    margin-bottom: 15px;

    //reponsive
    @include xxs {
      padding-bottom: 10px;
    }

    //reponsive
    @include xs {
      padding-bottom: 10px;
    }

    .container-fluid {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .slider__bottom-paging {
        font-size: var(--fs-h2);
        color: var(--brown-cl);
        display: flex;
        align-items: center;
        font-family: pb;

        .number {
          margin-right: 15px;
          letter-spacing: 1px;
          position: relative;

          //reponsive
          @include xxs {
            @include hide;
          }
        }

        .flickity-page-dots {
          display: flex;
          position: initial;

          //reponsive
          @include xxs {
            margin-left: -115px;
          }

          li {
            width: 8px;
            height: 8px;
            background-color: var(--brown-cl);
            border-radius: 50%;
            margin: 0 3px;
          }
        }
      }

      .slider__bottom-mouse {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);

        //reponsive
        @include xxs {
          @include hide;
        }

        //reponsive
        @include xs {
          padding-bottom: 20px;
        }

        @include keyframes(topdown) {
          0% {
            @include transform(translateY(0px));
            opacity: 0;
            @include transition(0.3s);
          }

          100% {
            @include transform(translateY(30px));
            opacity: 1;
            @include transition(0.3s);
          }
        }

        .mouse {
          margin-bottom: 5px;
        }

        .arrow {
          @include animation(topdown 1s ease forwards infinite);
        }
      }

      .slider__bottom-control {
        width: 180px;
        height: 40px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;

        @include xxs {
          width: 93px;
          height: 27px;
        }

        .btnctrl {
          cursor: pointer;
          border: 1px solid var(--white-cl);
          @include transition(0.3s);
          display: flex;
          align-items: center;
          justify-content: center;

          i {
            display: block;
          }

          &.prev {
            border-right: none;

            img {
              transform: rotate(360deg);
            }
          }

          &.next {
            img {
              transform: rotate(180deg);
            }
          }

          &:hover {
            background: var(--brown-cl);
            @include transition(0.3s);
          }
        }
      }
    }
  }
}

.scwooder {
  padding: var(--pd-section) 0;

  .furniture {
    .textbox {
      padding-left: 70px;
      grid-column: 1/6;

      .heading {
        &::before {
          left: -14px;
          top: 40%;
          transform: translate(-100%, 50%);
        }
      }
    }
  }

  .decor {
    margin-bottom: 109px;

    .textbox {
      order: 2;
      text-align: end;
      padding-right: 70px;
      align-items: center;
      grid-column: 8/13;

      .heading {
        &::before {
          right: -14px;
          top: 50%;
          transform: translate(100%, -50%);
        }
      }
    }

    .scwooder__img {
      grid-column: 1/8;
    }
  }

  .quality {
    .textbox {
      text-align: center;
      margin: 0 auto;

      @include xxxs {
        font-size: var(--fs-h4);
        margin: 0;
      }

      .heading {
        margin-bottom: 30px;

        &::after {
          content: "";
          display: block;
          width: 35px;
          height: 2px;
          background-color: var(--brown-cl);
          margin: 0 auto;
        }
      }

      .des {
        max-width: 579px;
        margin: 0 auto;
        margin-bottom: 40px;
      }
    }

    .video {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      font-size: var(--fs-h3);
      cursor: pointer;

      &__item {
        &-img {
          width: 200px;
          height: 200px;
          border: 12px solid var(--white-cl);
          box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
          margin-bottom: 20px;
          border-radius: 50%;
          position: relative;
          overflow: hidden;

          .thumbnail {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 0.4s;
            @include mid;

            &:hover {
              transform: translate(-50%, -50%) scale(1.1);
              color: white;
              filter: grayscale(100%) brightness(110%);
            }
          }
        }

        &-content {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;

          &::before {
            position: absolute;
            top: -10px;
            content: "";
            width: 29px;
            height: 3px;
            background-color: var(--brown-cl);
          }
        }

        &-icon {
          position: absolute;
          width: 52px;
          height: 52px;
          left: 50%;
          top: 50%;
          transform: translateX(-50%) translateY(-50%);
        }
      }
    }
  }

  &__img {
    grid-column: 6/13;
  }

  @include xxs {
    .container {
      .furniture {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;

        .textbox {
          margin-left: -70px;

          .heading {
            &::before {
              display: none;
            }
          }
        }
      }

      .decor {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        .textbox {
          margin-right: -70px;

          .heading::before {
            display: none;
          }

          .content {
            max-width: 330px;
          }
        }

        .scwooder__img {
          grid-column: 1/8;
        }
      }

      .quality {
        padding-left: -70px;
        padding-right: 15px;

        .textbox {
          margin-top: 30px;
          text-align: center;

          .content {
            font-size: var(--fs-h4);
            max-width: 500px;
          }
        }

        .video {
          display: flex;
          flex-wrap: wrap;
          flex-direction: column-reverse;
          gap: 50px;
        }
      }

      .scwooder__img {
        grid-column: 6/13;
      }
    }
  }
}

.scdesign {
  background: url(/images/banner/img.jpg) center/cover no-repeat;
  padding: var(--pd-section) 0;
  background-attachment: fixed;
  .textbox {
    line-height: var(--lh-h3);

    .heading {
      max-width: 562px;
      letter-spacing: 5px;
    }

    .des {
      color: var(--white-cl);
      max-width: 514px;
    }
  }

  .btn__watch {
    &-play {
      a {
        margin-left: 20px;
        color: white;
        font-family: pb;
        letter-spacing: 3px;
        font-size: var(--text-btn);
      }

      &:hover {
        background: var(--brown-cl);
        @include transition(0.3s);
      }

      @include xxxs {
        a {
          margin-left: 10px;
        }
      }
    }

    button {
      padding: 10px 30px;
      margin-top: 25px;
      display: inline-flex;
      align-items: center;

      @include xxxs {
        padding: 11px 20px;
        font-size: var(--fs-h4);
      }
    }
  }
}

.scabout {
  padding: var(--pd-section) 0;

  .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    gap: 28px;

    .scabout__img {
      grid-column: 1/8;
    }

    .textbox {
      grid-column: 8/13;
      margin-left: 99px;

      .heading {
        &::before {
          top: 50%;
          transform: translate(-100%, -50%);
          left: -14px;
        }
      }

      .des {
        max-width: 409px;
      }
    }
  }

  @include sm {
    .textbox {
      .heading {
        font-size: 35px;
      }
    }
  }

  @include xxs {
    .container {
      display: flex;
      flex-wrap: wrap;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  @include xs {
    .container {
      display: flex;
      flex-wrap: wrap;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

.scgallery {
  background-color: var(--black-cl);
  padding: var(--pd-section) 0;

  .heading {
    color: var(--white-cl);
  }

  .des {
    color: var(--white-cl);
    margin-bottom: 47px;
    letter-spacing: 1px;
    max-width: 378px;
  }

  .gallery__gird {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 262px;
    gap: 15px;

    &-item {
      position: relative;
      overflow: hidden;

      img {
        @include mid;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.4s;

        &:hover {
          transform: translate(-50%, -50%) scale(1.1);
        }
      }

      &.item2 {
        grid-column: 2/3;
        grid-row: 1/3;
      }
    }
  }

  @include xxs {
    .gallery__gird {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: 262px;
      gap: 15px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  @include xxxs {
    .gallery__gird {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: 160px;

      &-item {
        &.item2 {
          grid-column: 1/2;
          grid-row: 2/4;
        }
      }
    }
  }
}

.scnews {
  padding: var(--pd-section) 0;

  .des {
    max-width: 378px;
  }

  .news__tabs {
    white-space: nowrap;
    &-item {
      box-sizing: border-box;
      font-size: 13px;
      line-height: var(--lh-h2);
      font-family: pb;
      display: inline-flex;
      margin-right: 10px;
      margin-bottom: 20px;
      border: 1px solid var(--brown-cl);

      &.active {
        background-color: var(--brown-cl);
        color: var(--white-cl);
      }

      a {
        color: var(--black-cl);

        &:hover {
          background: var(--brown-cl);
          color: var(--white-cl);
          @include transition(0.3s);
        }
      }

      .all {
        width: 61px;
      }

      .technology {
        width: 146px;
      }

      .fashion {
        width: 106px;
      }
    }
  }

  .news__wrap {
    .news__list {
      display: none;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;

      &.active {
        display: grid;
      }

      @include xxs {
        &.news__list {
          grid-template-columns: 1fr;
          gap: 1px;
        }
      }

      &-item {
        .item__img {
          aspect-ratio: 200/130;
          position: relative;
          overflow: hidden;

          img {
            @include mid;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 0.4s;

            &:hover {
              transform: translate(-50%, -50%) scale(1.1);
            }
          }
        }

        .item__info {
          .item__tittle {
            color: var(--black-cl);
            font-size: var(--fs-h3);
            font-family: pb;
            text-transform: uppercase;
            @include overtext(2);
            min-height: 70px;

            &::before {
              content: "";
              display: block;
              background-color: var(--brown-cl);
              width: 40px;
              height: 2px;
              margin: 10px 0;
            }

            &:hover {
              color: var(--brown-cl);
              @include transition(0.3s);
            }
          }

          &-text {
            color: var(--grey-cl);
            font-size: var(--text-btn);
            @include overtext(3);
          }
        }
      }
    }
  }
}

.scaccordion {
  padding-bottom: var(--pd-section);

  input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  .row {
    display: flex;

    .col {
      flex: 1;
    }
  }

  /* Accordion styles */
  .tabs {
    overflow: hidden;
  }

  .tab {
    width: 100%;
    color: var(--white-cl);
    overflow: hidden;
    margin-bottom: 5px;

    &-label {
      display: flex;
      justify-content: space-between;
      padding: 1em;
      background: var(--grey-footer);
      font-weight: bold;
      cursor: pointer;
      text-transform: uppercase;
      font-size: var(--fs-h3);
      line-height: var(--fs-h3);
      letter-spacing: 1px;
      font-family: pb;

      /* Icon */
      &:hover {
        background: var(--brown-cl);
      }

      &::after {
        content: "\276F";
        width: 1em;
        height: 1em;
        text-align: center;
        transition: all 0.35s;
      }
    }

    &-content {
      max-height: 0;
      padding: 0 1em;
      color: var(--black-cl);
      background: var(--white-cl);
      @include transition(0.3s);
    }

    &-close {
      display: flex;
      justify-content: flex-end;
      padding: 1em;
      font-size: 0.75em;
      background: var(--grey-footer);
      cursor: pointer;
    }
  }

  // :checked
  input:checked {
    + .tab-label {
      background: var(--grey-cl);

      &::after {
        transform: rotate(90deg);
      }
    }

    ~ .tab-content {
      max-height: 100vh;
      padding: 1em;
    }
  }
}

.sccarousel {
  padding-bottom: 120px;
  width: 100%;
  overflow: hidden;
  position: initial;

  img {
    height: 500px;
    margin-right: 20px;
  }

  .flickity-page-dots {
    position: relative;
  }

  .flickity-page-dots .dot {
    height: 5px;
    width: 40px;
    margin: 0;
    border-radius: 0;
    background-color: var(--brown-cl);
  }
}

.popupvideo {
  position: fixed;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 900;
  background-color: rgba(0, 0, 0, 0.9);
  visibility: hidden;
  @include transition(0.3s);

  &__inner {
    width: 90%;
    height: 100%;
    max-width: 1200px;
    @include mid;

    @include lg {
      width: 90%;
      height: 80%;
      max-width: 1000px;
    }

    &-iframe {
      width: 100%;
      padding-bottom: 56.25%;
      @include mid;
      border: 5px solid var(--white-cl);

      iframe {
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }

    &-close {
      width: 30px;
      height: 30px;
      position: absolute;
      top: -15px;
      right: -15px;
      border-radius: 100px;
      cursor: pointer;
      background-color: var(--brown-cl);
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 14px;
      }
    }
  }

  &.active {
    opacity: 1;
    visibility: visible;
  }
}
